:root {
  --primary-color: hsl(0, 0%, 0%);
  --bg-color: hsl(0, 0%, 100%);
  --secondary-color: #fff1da;
  --transition-duration: 0.3s;
  --navbar-height: 140px;
  --navbar-mobile-height: 60px;
  --main-width: 1200px;
  --font-family: "Poppins", sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--bg-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
